.navbar {

    background-color: #455361;
    border-radius: 15px;
    align-items: baseline;
}


.img_size {
    width: 160px;
    height: 75px;
}

.rounded {
    border-radius: 1.25rem!important;
}


.input {
    width: 250px;
    border: 1px solid gray;
    border-radius: 5px;
}

.btn {
    border-radius: 5px;
}

header {
    margin-bottom: 50px;
}









footer {
    margin-top: 50px;
    height: 60px;
    background-color: currentColor;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer a {
    margin-right: 50px;
    margin-bottom: 0;
    color: white;
}

footer a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 6px;
    font-weight: bold;
    text-decoration: none;
}