.color-body {
    background-color: #455361;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


.navbar {

    background-color: #455361;
    border-radius: 15px;
    align-items: baseline;
}

.navbar-expand {
    justify-content: space-between;
}


.img_size {
    width: 160px;
    height: 75px;
}

.rounded {
    border-radius: 1.25rem!important;
}

.btn {
    border-radius: 5px;
}

.img-fluid {
    
    display: flex;
    margin: auto;
}


.stretched-link {
    text-decoration: none;
    color: black;
}

.stretched-link:hover {
    text-decoration: none;
    color: black;
}

.card {
    background-color:rgb(243,233,241);
    border-radius: 10px;
}

.card-title {
    font-weight: bold;
    text-align: center;
}

.card-text {
    text-align: center;
}

.btn {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    color: white;
    
}


footer {
    height: 60px;
    background-color: currentColor;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer a {
    margin-right: 50px;
    margin-bottom: 0;
    color: white;
}

footer a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 6px;
    font-weight: bold;
    text-decoration: none;
}






/* PAGE PRODUITS */

.marge-top {
    margin-top: 50px;
    margin-bottom: 50px;
}


.column {
    flex-direction: inherit;
    padding-right: 0;
    padding-left: 0;
}


.supp-padd {
    padding-left: 0;
    padding-right: 0;
}

.style {
    background-color: #455361;
    color: white;
}

.card-body a {
    color: white;
    text-decoration: none;

}

.pos {
    margin: auto;
}

/* Style Couleur */
.colors {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card-colors {
    height: 3rem;
    width: 6.5rem;
    border-radius: 5px;
    color: transparent;
}

.position {
    text-align: center;
}





/* PAGE PANIER */

.align {
    margin: auto;
}

.font-b {
    font-weight: bold;
}


.back2 {
    background-color:rgb(243,233,241);
}

.contform {
    background-color: rgb(243,233,241);
    margin-top: 30px;
    margin-bottom: 40px;
}

.total {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.pos-btn {
    width: 16%;
}


/* Verifier la Validiter du formulaire */

.validinvalid:invalid {
background-color: #ffddddde;
}


.validinvalid:valid {
background-color: #ddffdd;
}


.validinvalid:required {
border-color: #800000;
border-width: 1px;
}

.validinvalid:required:valid {
border-color: #008000;
}





/* Page Confirmation Commande */
.placement {
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-color: rgb(243,233,241);
}

.size {
    font-size: 1.3em;
}

.prix {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}


.commande {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}